altgraph==0.16.1
beautifulsoup4==4.6.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
future==0.16.0
gevent==1.2.2
greenlet==0.4.14
grequests==0.3.0
idna==2.7
macholib==1.11
pefile==2018.8.8
pipenv==2018.7.1
pycparser==2.18
PyInstaller==3.3.1
pypiwin32==223
pywin32==223
requests==2.19.1
urllib3==1.26.5
virtualenv==16.0.0
virtualenv-clone==0.3.0
